<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Calatrava Projects Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Projects</h1>
    <p>These are some of Santiago Calatrava remarkable projects</p>
    <div id="projects-pictures">
        <img src="/images/UAE PAVILION AT EXPO 2020.jpg" />
        <img src="/images/PONTE SUL CRATI.jpg" />
        <img src="/images/WORLD TRADE CENTER TRANSPORTATION HUB.jpg" />
        <img src="/images/REGGIO EMILIA STAZIONE MEDIOPADANA.jpg" />
        <img src="/images/PEACE BRIDGE.jpg" />
        <img src="/images/EL PALACIO DE EXPOSICIONES Y CONGRESOS.jpg" />
        <img src="/images/CIUDAD DE LAS ARTES Y DE LAS CIENCIAS.jpg" />
        <img src="/images/SAMUEL BECKETT BRIDGE.jpg" />
        <img src="/images/PALAU DE LES ARTS REINA SOFIA OPERA HOUSE..jpg" />
        <img src="/images/OLYMPIC SPORTS COMPLEX.jpg" />
        <img src="/images/UNIVERSITY OF ZURICH LAW FACULTY.jpg" />
        <img src="/images/ADAN MARTIN AUDITORIO DE TENERIFE.jpg" />
        <img src="/images/MILWAUKEE ART MUSEUM MAM.jpg" />
        <img src="/images/LYON-SAINT EXUPÉRY AIRPORT RAILWAY STATION.jpg" />
        <img src="/images/MONTJUIC COMMUNICATIONS TOWER BARCELONA.jpg" />
        <img src="/images/STADELHOFEN STATION.jpg" />
        <img src="/images/BACH DE RODA - FELIPE II BRIDGE.jpg" />
    </div>
    <a href="/home">Back to home page</a>
</body>
</html>