<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santiago Calatrava Projects Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Projects</h1>
    <p>These are some of Santiago Calatrava remarkable projects</p>
    <div id="projects-pictures">
        <img src="/images/UAE PAVILION AT EXPO 2020.jpg" />
        <img src="/images/PONTE SUL CRATI.jpg" />
        <img src="/images/WORLD TRADE CENTER TRANSPORTATION HUB.jpg" />
        <img src="/images/REGGIO EMILIA STAZIONE MEDIOPADANA.jpg" />
        <img src="/images/PEACE BRIDGE.jpg" />
        <img src="/images/EL PALACIO DE EXPOSICIONES Y CONGRESOS.jpg" />
        <img src="/images/CIUDAD DE LAS ARTES Y DE LAS CIENCIAS.jpg" />
        <img src="/images/SAMUEL BECKETT BRIDGE.jpg" />
        <img src="/images/PALAU DE LES ARTS REINA SOFIA OPERA HOUSE.jpg" />
        <img src="/images/OLYMPIC SPORTS COMPLEX.jpg" />
        <img src="/images/UNIVERSITY OF ZURICH LAW FACULTY.jpg" />
        <img src="/images/ADAN MARTIN AUDITORIO DE TENERIFE.jpg" />
        <img src="/images/MILWAUKEE ART MUSEUM MAM.jpg" />
        <img src="/images/SONDICA AIRPORT.jpg" />
        <img src="/images/LYON-SAINT EXUPÉRY AIRPORT RAILWAY STATION.jpg" />
        <img src="/images/MONTJUIC COMMUNICATIONS TOWER BARCELONA.jpg" />
        <img src="/images/STADELHOFEN STATION.jpg" />
        <img src="/images/BACH DE RODA - FELIPE II BRIDGE.jpg" />
    </div>
    <h2> Full list of Santiago Calatrava's Architects and Engineers projects:</h2>
    <ul>
        <li>In progress:</li>
        <li>Yuan Ze University (Building) TAIPEI</li>
        <li>Gare de Mons MONS</li>
        <li>Università degli Studi di Roma Tor Vergata ROME</li>
        <li> Sharq Crossing DOHA<li></li>
        <li>Chicago Spire Tower CHICAGO</li>
        <li>Dubai Creek Tower DUBAI</li>
        <li>Huashan Canal Bridge WUHAN</li>
        <li>Haus zum Falken ZURICH</li>
        <li>London Peninsula Place LONDON</li>
        <li>O'Hare Global Terminal CHICAGO</li>
        <li>Polcevera viaduct GENOA</li>
        <li>Traversee du Lac GENEVA</li>
        <li>Eglisau Bridge EGLISAU</li>
        <li>Grüningen Bridges GRÜNINGEN</li>
        <li>Bahnhof Stadelhofen Erweiterung ZURICH</li>
        <br>
        <li>2022 St. Nicholas Greek Orthodox Church NEW YORK</li>
        <li>2021 UAE Pavilion at EXPO 2020 DUBAI</li>
        <li>2021 Qatar Pavilion at EXPO 2020 DUBAI</li>
        <li>2021 Margaret McDermott Bridges (IH30) DALLAS</li>
        <li>2018 Ponte sul Crati COSENZA</li>
        <li>2016 World Trade Center Transportation Hub NEW YORK</li>
        <br>
        <li>2015</li>
        <li>2015 Museu do Amanhã RIO DE JANEIRO</li>
        <li>2014 Florida Polytechnic University (FPU) LAKELAND</li>
        <li>2014 Innovation, Science and Technology Building LAKELAND</li>
        <li>2014 Reggio Emilia Stazione Mediopadana REGGIO EMILIA</li>
        <li>2012 Peace Bridge CALGARY</li>
        <li>2012 Margaret Hunt Hill Bridge DALLAS</li>
        <li>2011 El Palacio de Exposiciones y Congresos OVIEDO</li>
        <br>
        <li>2010</li>
        <li>2010 The New York City Ballet NEW YORK</li>
        <li>2009 Obelisk HAIFA</li>
        <li>2009 Agora - Ciudad de las Artes y las Ciencias VALENCIA</li>
        <li>2009 Ciudad de las Artes y de las Ciencias VALENCIA</li>
        <li>2009 Obelisco Plaza de Castilla MADRID</li>
        <li>2009 Samuel Beckett Bridge DUBLIN</li>
        <li>2009 Guillemins TGV Railway Station LIÈGE</li>
        <li>2008 Serreria Bridge VALENCIA</li>
        <li>2008 Bridge of Strings (Light Rail Train) JERUSALEM</li>
        <li>2008 Quarto Ponte sul Canal Grande VENICE</li>
        <li>2007 Reggio Emilia Ponti REGGIO EMILIA</li>
        <li>2006 Petah-Tikva Footbridge TEL AVIV</li>
        <li>2006 Palau de les Arts Reina Sofia (Opera House) VALENCIA</li>
        <br>
        <li>2005</li>
        <li>2005 Turning Torso MALMÖ</li>
        <li>2004 Katehaki Pedestrian Bridge ATHENS</li>
        <li>2004 Olympic Sports Complex ATHENS</li>
        <li>2004 Bridges over the Hoofdvaart DEDEMSVAART</li>
        <li>2004 University of Zurich Law Faculty ZURICH</li>
        <li>2004 Sundial Footbridge REDDING</li>
        <li>2003 Stage Setting Ecuba ROME</li>
        <li>2003 James Joyce Bridge DUBLIN</li>
        <li>2003 Adan Martin Auditorio de Tenerife SANTA CRUZ DE TENERIFE</li>
        <li>2002 SMU Meadows Museum Wave Sculpture DALLAS</li>
        <li>2001 Stage Setting Las Troyanas VALENCIA</li>
        <li>2001 The New York Times Capsule NEW YORK</li>
        <li>2001 Puente de la Mujer BUENOS AIRES</li>
        <li>2001 Bodegas Ysios Winery LAGUARDIA</li>
        <li>2001 Milwaukee Art Museum (MAM) MILWAUKEE</li>
        <br>
        <li>2000</li>
        <li>2000 Pont de l'Europe ORLÉANS</li>
        <li>2000 Sondica Airport BILBAO</li>
        <li>1999 Pfalzkeller Gallery ST. GALLEN</li>
        <li>1999 Manrique Footbridge MURCIA</li>
        <li>1999 Puente Hospital MURCIA</li>
        <li>1998 Mimico Creek Pedestrian Bridge TORONTO</li>
        <li>1998 Oriente Station LISBOA</li>
        <li>1998 Emergency Services Centre ST. GALLEN</li>
        <li>1997 Campo Volantín Footbridge BILBAO</li>
        <li>1996 Sondica Airport Control Tower BILBAO</li>
        <li>1996 Oberbaum Bridge BERLIN</li>
        <li>1996 Kronprinzen Bridge BERLIN</li>
        <li>1996 Bohl Bus and Tram Stop ST. GALLEN</li>
        <li>1996 Buchen Housing Estate WÜRENLINGEN</li>
        <br>
        <li>1995</li>
        <li>1995 Trinity Footbridge MANCHESTER</li>
        <li>1995 Remodeling of the Plaza de España ALCOY</li>
        <li>1995 Recinto Ferial de Tenerife SANTA CRUZ DE TENERIFE</li>
        <li>1995 Alameda Bridge and Subway Station VALENCIA</li>
        <li>1995 Puerto Bridge ONDARROA</li>
        <li>1994 Lyon-Saint Exupéry Airport Railway Station COLOMBIER-SAUGNIEU</li>
        <li>1993 Shadow Machine NEW YORK</li>
        <li>1992 Kuwait Pavilion SEVILLA</li>
        <li>1992 Montjuic Communications Tower BARCELONA</li>
        <li>1992 Alamillo Bridge & Cartuja Viaduct SEVILLA</li>
        <li>1992 BCE Place: Galleria & Heritage Square TORONTO</li>
        <li>1991 La Devesa Footbridge RIPOLL</li>
        <li>1991 Lusitania Bridge MÉRIDA</li>
        <br>
        <li>1990</li>
        <li>1990 Stadelhofen Station ZURICH</li>
        <li>1989 Lucerne Station Hall LUZERN</li>
        <li>1988 9 de Octubre Bridge VALENCIA</li>
        <li>1988 Wohlen High School, Roofs and Hall WOHLEN</li>
        <li>1987 Tabourettli Theatre BASEL</li>
        <li>1987 Bach de Roda - Felipe II Bridge BARCELONA</li>
        <li>1986 Music School Concert Room ST. GALLEN</li>
        <br>
        <li>1985</li>
        <li>1985 Ernstings Warehouse COESFELD</li>
        <li>1985 PTT Postal Centre Canopy LUZERN</li>
        <li>1983 Baumwollhof Balcony ZURICH</li>
    </ul>
    <a href="/home">Back to Home page</a>
</body>
</html>